* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #baf713;
    font-size: 2.2rem;
    margin-bottom: 25px;
    font-weight: 600;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#searchbar {
    width: 75%;
    padding: 12px;
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 2px solid #85df49;
    border-radius: 6px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease;
}

#searchbar::placeholder {
    color: #757575;
}

#searchBtn {
    padding: 12px 24px;
    background-color: #6dbe37;
    color: #121212;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin-left: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

#searchBtn:hover {
    background-color: #a7fa6f;
}

#content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.movie-details {
    text-align: left;
}

.movie-details h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 600;
}

.movie-details p {
    margin-bottom: 12px;
    font-size: 18px;
    color: #b4b4b4;
    line-height: 1.5;
}

.movie-details strong {
    color: #37a3e2;
}

.movie-details p span {
    font-weight: 500;
}

@media (max-width: 768px) {
    #searchbar {
        width: 65%;
        font-size: 16px;
    }

    #searchBtn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .movie-details h2 {
        font-size: 24px;
    }
}
